<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\JAVA Applications 2020\Calculator_Modern\out\artifacts\Calculator_Modern_jar\Calculator_Modern.jar</jar>
  <outfile>E:\JAVA Applications 2020\Calculator_Modern\out\artifacts\Calculator_Modern.exe</outfile>
  <errTitle>My awesome program needs java. Please install java first.</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Deea\Downloads\hnet.com-image.ico</icon>
  <singleInstance>
    <mutexName>CalculatorModern</mutexName>
    <windowTitle></windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Calculator Modern</fileDescription>
    <copyright>Deea95</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>CalculatorModern</productName>
    <companyName>Deea95</companyName>
    <internalName>CalculatorModern</internalName>
    <originalFilename>Calculator_Modern.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>